<footer class="footer">
    <div class="inner-page">           
        <p><img src="https://lienquan.garena.vn/asset/images/logo-footer.png?v=2" alt=""></p>
        <p class="address">CÔNG TY CỔ PHẦN GIẢI TRÍ VÀ THỂ THAO ĐIỆN TỬ VIỆT NAM<br>
            Giấy CNĐKKD số 0105301438, cấp lần đầu ngày 10/05/2011<br>
            Cơ quan cấp: Phòng Đăng ký kinh doanh- Sở Kế hoạch và đầu tư TP Hồ Chí Minh<br>
            Địa chỉ trụ sở chính: 50, Đường số 37, Khu phố 8, Phường Linh Đông, Thành phố Thủ Đức,<br> Thành phố Hồ Chí Minh, Việt Nam.<br>
            Điện thoại: 078 5326749</p>
    </div>
    <ul class="simple-menu" id="footer-nav">
        <li style="display: inline">
            <a target="_blank" href="https://www.garena.vn/terms" id="text-footer">Điều khoản dịch vụ</a>
        </li> |
        <li style="display: inline">
            <a target="_blank" href="https://www.garena.vn/privacy" id="text-footer">Chính sách bảo mật</a>
        </li> | 
        <li style="display: inline">
            <a target="_blank" href="https://lienquan.garena.vn/tin-tuc/chinh-sach-giai-quyet-tranh-chap" id="text-footer">Chính sách giải quyết tranh chấp </a>
        </li>
    </ul>
</footer>